.container-carousel {
  width: 80vw;
  padding-bottom: 50px;
  background-color: #f7f7f7eb;
}

@media (max-width: 768px) {
  .container-carousel {
    width: 100%;
    padding-bottom: 50px;
  }
}

.hovering-icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
