/* Styles for the main header */
.header-main {
  background-color: rgb(255, 255, 255); /* Background color */
  color: black; /* Text color */
  margin-top: 1.5rem; /* Adjust margin from the top */
  text-align: center; /* Center the text within the header */
  padding: 10px; /* Add padding */
  font-size: small; /* Small font size */
  background-size: cover;
  margin-bottom: 1.5rem; /* Adjust margin from the bottom */
}

/* Styles for logo */
.logo-styling {
  text-align: left; /* Align logo to the left */
}

/* Styles for header components */
.header-main-components {
  text-align: right; /* Align header components to the right */
}

/* Styles for paragraph */
p {
  text-align: right; /* Align paragraph to the right */
}

/* Container styles */
.container {
  max-width: 1200px; /* Set maximum width */
  margin: 0 auto; /* Center the container */
}

/* Header content styles */
.header-content {
  display: flex; /* Display header content as flex */
  justify-content: space-between; /* Space between header content */
  align-items: center; /* Align items vertically center */
}

/* Styles for icons container */
.icons-container {
  display: flex; /* Display icons container as flex */
  align-items: center; /* Align items vertically center */
}

/* Styles for individual icon container */
.icons-container > div {
  margin-right: 10px; /* Add margin between icons */
}

/* Styles for large cart icon */
.cart-icon-large {
  font-size: 24px; /* Adjust font size for large cart icon */
}
