/* Styles for the container2 class */
.container2 {
  padding-left: 50px; /* Add left padding */
  padding-right: 50px; /* Add right padding */
  padding-bottom: 50px; /* Add bottom padding */
  background-color: white; /* Set background color */
}

/* Styles for h5 elements */
h5 {
  text-align: center; /* Center align the text */
}
