/* src/App.css */

body,
html {
  height: auto;
  margin: 0;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 800px;
  padding: 20px;
  outline: auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
