# Node modules
node_modules/

# Build files
build/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# Mac OS files
.DS_Store
